---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import Panoramic from '../../components/Panoramic.astro';
import fontanero from '../../assets/fontanero.jpg'

const services = [
    { title: "Instalación de agua." },
    { title: "Acomedida de aguas general." },
    { title: "Instalación de calderas termo electricas." },
    { title: "Instalación de calderas aerotermicas." },
    { title: "Instalación de circuito de agua fria y caliente." },
  
];
const incidencias = [
    { title: "Fugas de agua", description: "Solución rapida y segura para problemas de agua." },
    { title: "Atascos", description: "Diagnostico y reparación de sistemas con atascos." },
    {title:"Baja presion", description:"Solución a problemas de presión de agua." },
    {title:"Grifos defectuosos", description:"Reparación y sustitución de grifería." },
];
---

<Layout title="Servicios de Fontanería - IS.InstalaciónES">
  
  <main class="pt-20">


    
  
      <Panoramic 
      imagen={fontanero},
      texto="Servicios de Fontanería"/>

    <section class="py-20">
      <div class="container mx-auto px-4">
        
        <div class="grid md:grid-cols-2 gap-8 mb-12">
            <div>
                <h2 class="text-2xl font-bold mb-4">Nuestros Servicios</h2>
                <ul class="space-y-2">
                  {services.map(service => (
                    <li class="text-gray-600">
                    <h3 class="mr-2">✓ {service.title}</h3>

                    </li>
                  ))}
                </ul>
              </div>
          
         
              <div>
                <h2 class="text-2xl font-bold mb-4">Incidencias Comunes</h2>
                <div class="grid md:grid-cols-1 lg:grid-cols-2 gap-6">
                  {incidencias.map(incidencia => (
                    <div class="bg-white p-6 rounded-lg shadow-md border border-primary/20 hover:border-primary/30 transition-all hover:shadow-lg">
                      <h3 class="text-base lg:text-2xl md:text-base sm:text-base font-bold mb-2">{incidencia.title}</h3>
                      <p class="text-gray-600 lg:text-lg md:text-base">{incidencia.description}</p>
                    </div>
                  ))}
                </div>
              </div>
      </div>
    </section>
  </main>

</Layout>